# one of development or production
NODE_ENV=development

# RPC connection config
RPC_HOST=127.0.0.1
RPC_PORT=9932
RPC_USERNAME=rt
RPC_PASSWORD=xxx

# express server port
PORT=3000

# without tailing slash, separated with comma
ALLOWED_ORIGINS=https://explorer.pastel.network,https://explorer-staging.pastel.network
DEFAULT_ALLOWED_ORIGIN=https://explorer.pastel.network

# Redis config
REDIS_URL=redis://localhost:6379/0

# chart worker name
chart=explorer-chart-worker

PASTEL_BURN_ADDRESS=PtpasteLBurnAddressXXXXXXXXXXbJ5ndd

# SMTP
SMTP_HOST=
SMTP_PORT=465
SMTP_SECURE=true
SMTP_EMAIL_ACCOUNT=
SMTP_EMAIL_PASSWORD=
SMTP_SENDER_NAME=Pastel Network
RECEIVED_EMAIL=
# 30 minutes
CHECKING_TIME=30

PASTELID=
PASSPHRASE=
WALLETNODE_API_URL=http://localhost:8080
